/* div p{
  margin-top: 50px;
  margin: 60px;
  padding: 30px;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 4px 4px 4px ;
  color: rgb(247, 230, 230);



}
h1{
  
  text-align: center;
  color: rgb(14, 152, 233);
}
*{
  background-color: rgb(59, 38, 54);
} */
  
@import 'tailwindcss'
